<div class="card mb-2">
  <div class="card-header">
    <h2>Criar Imóvel</h2>
  </div>

  <div class="card-body">
    <ul class="list-unstyled">
      <li class="mb-3">
        <%= link_to "Novo Apartamento", new_apartment_path %>
      </li>
      <li class="mb-3">
        <%= link_to "Nova Casa", new_house_path %>
      </li>
      <li class="mb-3">
        <%= link_to "Novo Comercial", new_comercial_path %>
      </li>
      <li class="mb-3">
        <%= link_to "Novo Terreno", new_terrain_path %>
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2>Criar Imóvel</h2>
  </div>

  <div class="card-body">
    <ul class="list-unstyled">
      <li class="mb-3">
        <%= link_to "Novo Apartamento", new_apartment_path %>
      </li>
      <li class="mb-3">
        <%= link_to "Nova Casa", new_house_path %>
      </li>
      <li class="mb-3">
        <%= link_to "Novo Comercial", new_comercial_path %>
      </li>
      <li class="mb-3">
        <%= link_to "Novo Terreno", new_terrain_path %>
      </li>
    </ul>
  </div>
</div>
