<div class="dropdown-menu p-0" id="property-filter-dropdown">
  <div class="row pt-2 pl-2 pr-2">
    <div class="col-auto mb-2">
      <h2 v-bind:class="{'unavailable': !available.apartments}">
        <%= link_to "APARTAMENTOS", sale_apartments_path %>
      </h2>
      <ul class="list-unstyled">
        <li v-bind:class="{'unavailable': !available.apartments}">
          <%= link_to "Kitinete", sale_apartments_path(filter: {number_of_rooms: :kitnet}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.apartments}">
          <%= link_to "1 Quarto", sale_apartments_path(filter: {number_of_rooms: :one}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.apartments}">
          <%= link_to "2 Quartos", sale_apartments_path(filter: {number_of_rooms: :two}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.apartments}">
          <%= link_to "3 Quartos", sale_apartments_path(filter: {number_of_rooms: :three}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.apartments}">
          <%= link_to "4 Quartos", sale_apartments_path(filter: {number_of_rooms: :four}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.apartments}">
          <%= link_to "Cobertura", sale_apartments_path(filter: {roof: true}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.apartments}">
          <%= link_to "Com Box de Garagem", sale_apartments_path(filter: {number_of_boxes: true}) %>
        </li>
      </ul>
    </div>
    <div class="col-auto mb-2">
      <h2 v-bind:class="{'unavailable': !available.houses}">
        <%= link_to "CASAS", sale_houses_path %>
      </h2>
      <ul class="list-unstyled">
        <li v-bind:class="{'unavailable': !available.houses}">
          <%= link_to "1 Quarto", sale_houses_path(filter: {number_of_rooms: 1}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.houses}">
          <%= link_to "2 Quartos", sale_houses_path(filter: {number_of_rooms: 2}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.houses}">
          <%= link_to "3 Quartos", sale_houses_path(filter: {number_of_rooms: 3}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.houses}">
          <%= link_to "4 Quartos ou +", sale_houses_path(filter: {number_of_rooms: 4}) %>
        </li>
      </ul>
    </div>
    <div class="col-auto mb-2">
      <h2 v-bind:class="{'unavailable': !available.comercials}">
        <%= link_to "COMERCIAL", sale_comercials_path %>
      </h2>
      <ul class="list-unstyled">
        <li v-bind:class="{'unavailable': !available.comercials}">
          <%= link_to "Salas aéreas", sale_comercials_path(filter: {comercial_kind: :air}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.comercials}">
          <%= link_to "Salas térreas", sale_comercials_path(filter: {comercial_kind: :ground}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.comercials}">
          <%= link_to "Prédio/Casa", sale_comercials_path(filter: {comercial_kind: :residential}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.comercials}">
          <%= link_to "Negócios Diversos", sale_comercials_path(filter: {comercial_kind: :general}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.comercials}">
          <%= link_to "Pavilhões", sale_comercials_path(filter: {comercial_kind: :pavilion}) %>
        </li>
      </ul>
    </div>
    <div class="col-auto mb-2">
      <h2 v-bind:class="{'unavailable': !available.terrains}">
        <%= link_to "TERRENOS", sale_terrains_path %>
      </h2>
      <ul class="list-unstyled">
        <li v-bind:class="{'unavailable': !available.terrains}">
          <%= link_to "Áreas Rurais", sale_terrains_path(filter: {terrain_kind: :rural}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.terrains}">
          <%= link_to "Chácaras/Sítios", sale_terrains_path(filter: {terrain_kind: :farm}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.terrains}">
          <%= link_to "Terrenos Residenciais", sale_terrains_path(filter: {terrain_kind: :residential}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.terrains}">
          <%= link_to "Terrenos Comerciais", sale_terrains_path(filter: {terrain_kind: :comercial}) %>
        </li>
        <li v-bind:class="{'unavailable': !available.terrains}">
          <%= link_to "Terrenos em Condomínio", sale_terrains_path(filter: {terrain_kind: :condominium}) %>
        </li>
      </ul>
    </div>
  </div>
</div>
