<div class="dropdown-menu p-0">
  <div class="row m-0 p-3">
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="col-md-3 mb-3">
          <h2>
            <%= link_to "Apartamento", apartments_path %>
          </h2>
          <ul class="list-unstyled">
            <li>
              <%= link_to "Kitinete", apartments_path(number_of_rooms: :kitnet), class: "navbar-brand" %>
            </li>
            <li>
              <%= link_to "1 Dormitório", apartments_path(number_of_rooms: :one), class: "navbar-brand" %>
            </li>
            <li>
              <%= link_to "2 Dormitórios", apartments_path(number_of_rooms: :two), class: "navbar-brand" %>
            </li>
            <li>
              <%= link_to "3 Dormitórios", apartments_path(number_of_rooms: :three), class: "navbar-brand" %>
            </li>
            <li>
              <%= link_to "4 Dormitórios ou mais", apartments_path(number_of_rooms: :four), class: "navbar-brand" %>
            </li>
            <li>
              <%= link_to "Cobertura", apartments_path(roof: true), class: "navbar-brand" %>
            </li>
            <li>
              <%= link_to "Com Box de Garagem", apartments_path(number_of_boxes: true), class: "navbar-brand" %>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h2>Casas</h2>
          <ul class="list-unstyled">
            <li>
              Casa 1 Dorm.
            </li>
            <li>
              Casa 2 Dorm.
            </li>
            <li>
              Casa 3 Dorm.
            </li>
            <li>
              Casa 4 Dorm. ou +
            </li>
            <li>
              Casa em Condomínio
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h2>Comercial</h2>
          <ul class="list-unstyled">
            <li>
              Salas aéreas
            </li>
            <li>
              Salas térreas
            </li>
            <li>
              Prédio/Casa
            </li>
            <li>
              Negócios Diversos
            </li>
            <li>
              Pavilhões
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h2>Terrenos</h2>
          <ul class="list-unstyled">
            <li>
              Áreas Rurais
            </li>
            <li>
              Chácaras/Sítios
            </li>
            <li>
              Terrenos Residenciais
            </li>
            <li>
              Terrenos comerciais
            </li>
            <li>
              Terrenos em Condomínio
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
