<footer id="footer">
  <div class="container pt-4">
    <div class="row justify-content-center">

      <div class="col-md-5 mb-4">
        <h2 class="font-weight-bold">
          Índices
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </h2>
        <div class="row" v-if="loading">
          <div class="col-md-auto">
            Buscando...
          </div>
        </div>

        <div class="row" v-else>
          <div v-if="stats.length > 0"
            class="col-sm-auto" v-for="stat in stats">
            <small>{{stat.month}}</small>
            <h2 class="mb-0">{{stat.value}}</h2>
            <strong>{{stat.name}}</strong>
          </div>
          <div v-if="stats.length == 0" class="col-md-auto">
            Indisponível
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <h2 class="mb-3 font-weight-bold">
          Entre em contato <i class="fa fa-comments-o"></i>
        </h2>
        <ul class="list-unstyled">
          <li class="mb-3">
            <a href="mailto:bruno@zordanimoveis.com.br">
              <h2 class="mb-0">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                bruno@zordanimoveis.com.br
              </h2>
            </a>
          </li>
          <li class="mb-3">
            <a href="https://www.facebook.com/zordancorretor/" target="_blank">
              <h2 class="mb-0">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                /zordancorretor
              </h2>
            </a>
          </li>
          <li class="mb-3">
            <a href="tel:54996246742">
              <h2 class="mb-0">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                (54) 9.9624-6742
              </h2>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-2 text-center">
        <img src="<%= s3_assets_path "logotipo.svg" %>" alt="Logotipo" height="32" class="text-center">
        <p class="mt-3"> <%= link_to "Home", root_path %> | <%= link_to "Vendas", properties_path %> | <%= link_to "Empreendimentos", properties_path(filter: {is_enterprise: true}) %>
          <br> <%= link_to "Avaliamos seu imóvel", new_customer_property_path %></p>
        <small>
          <%= link_to new_admin_session_path do %>
            <i class="fa fa-lock" aria-hidden="true"></i> Área restrita
          <% end  %>
        </small>
      </div>

    </div>
  </div>

  <div class="row no-gutters disclaimer">
    <div class="col-12 p-1 text-center">
      <small>
        zordanimoveis.com.br ® Todos os direitos reservados - 2017
      </small>
    </div>
  </div>
</footer>
