<div class="form-group col-md-9">
  <label>Título</label>
  <%= f.text_field :title, class: "form-control #{validate_field(@property, :title)}" %>
  <%= error_message_for_field(@property, :title) %>
</div>

<div class="form-group col-md-3">
  <label>Negócio</label>
  <%= f.select :deal, options_for_select(House.attributes_for_select "deals"),
  {}, {class: "form-control #{validate_field(@property, :deal)}"} %>
  <%= error_message_for_field(@property, :deal) %>
</div>

<div class="form-group col-md-9">
  <label>Endereço</label>
  <%= f.text_field :address, class: "form-control #{validate_field(@property, :address)}" %>
  <%= error_message_for_field(@property, :address) %>
</div>

<div class="form-group col-md-3">
  <label>Posição</label>
  <%= f.select :position, options_for_select(Property.attributes_for_select "positions"),
  {}, {class: "form-control #{validate_field(@property, :position)}"} %>
  <%= error_message_for_field(@property, :position) %>
</div>

<div class="form-group col-md-6">
  <label>Bairro</label>
  <%= f.text_field :district, class: "form-control #{validate_field(@property, :district)}" %>
  <%= error_message_for_field(@property, :district) %>
</div>

<div class="form-group col-md-3">
  <label>
    Área Global <small>(m²)</small>
  </label>
  <%= f.text_field :global_area, value: number_with_precision(f.object.global_area, precision: 2),
  class: "double form-control #{validate_field(@property, :global_area)}" %>
  <%= error_message_for_field(@property, :global_area) %>
</div>

<div class="form-group col-md-3">
  <label>
    Valor <small>(R$)</small>
  </label>
  <%= f.text_field :value,
  class: "double form-control #{validate_field(@property, :value)}" %>
  <%= error_message_for_field(@property, :value) %>
</div>

<div class="form-group col-md-4">
  <label>Próximo</label>
  <%= f.text_field :nearby, class: "form-control #{validate_field(@property, :nearby)}" %>
  <%= error_message_for_field(@property, :nearby) %>
</div>

<div class="form-group col-md-3">
  <label>Fone do proprietário</label>
  <%= f.text_field :phone, class: "form-control phone #{validate_field(@property, :phone)}" %>
  <%= error_message_for_field(@property, :phone) %>
</div>

<div class="form-group col-sm-auto">
  <label>Em destaque?</label> <br>
  <%= f.check_box :is_featured, class: "form-check-input #{validate_field(@property, :is_featured)}" %>
  <%= error_message_for_field(@property, :is_featured) %>
</div>

<div class="form-group col-sm-auto">
  <label>Empreendimento?</label> <br>
  <%= f.check_box :is_enterprise, class: "form-check-input #{validate_field(@property, :is_enterprise)}" %>
  <%= error_message_for_field(@property, :is_enterprise) %>
</div>
