<div class="header p-2">
  <div class="row justify-content-center m-auto">
    <div class="col-md-auto">
      CRECI: 49582/RS
    </div>
    <div class="col-md-auto">
      <i class="fa fa-map-marker"></i> Endereço rua tal tal tal, 999 - Passo Fundo
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-expand-md">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img src="<%= s3_assets_path "logotipo.svg" %>" alt="Logotipo">
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
  aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          Vendas
        </a>
        <%= render "partials/dropdown" %>
      </li>
      <li class="nav-item">
        <%= link_to "Empreendimentos",
        properties_path(filter: {is_enterprise: true}), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Avaliamos seu imóvel",
        new_customer_property_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <% if admin_signed_in? %>
          <a class="nav-link dropdown-toggle pointer" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-o"></i> <%= current_admin.email %>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "Novo Apartamento", new_apartment_path, class: "dropdown-item" %>
            <%= link_to "Nova Casa", new_house_path, class: "dropdown-item" %>
            <%= link_to "Novo Comercial", new_comercial_path, class: "dropdown-item" %>
            <%= link_to "Novo Terreno", new_terrain_path, class: "dropdown-item" %>

            <div class="dropdown-divider"></div>

            <%= link_to customer_properties_path, class: "dropdown-item" do %>
            Imóveis de clientes <%= unread_customer_properties_badge %>
            <% end %>

            <div class="dropdown-divider"></div>

            <%= link_to "Sair", destroy_admin_session_path,
            method: :delete, class: "dropdown-item" %>
          </div>
        <% end  %>
      </li>
    </ul>
  </div>
</nav>
