<div class="card property-summary">
  <div class="row no-gutters">
    <%= link_to property, class: "col-5" do %>
      <% if has_gallery? property %>
        <div class="property-image " style="background-image:url(<%= property.gallery.images.first.large %>)"></div>
      <% else %>
        <div class="property-image" style="background-image:url('<%= "#{ENV['S3_URL']}/assets/no-image.jpg" %>')"></div>
      <% end %>
    <% end %>

    <div class="col-7 pt-3 pr-3 pl-3">
      <div class="row mb-3">
        <div class="col-md-8">
          <h2 class="mb-0">
            <%= property.title %>
            <%= link_to [:edit, property] do %>
              <i class="fa fa-pencil" title="Editar"></i>
            <% end %>
          </h2>
          <small class="text-secondary"><%= property.address %></small>
        </div>
        <div class="col-md-4">
          <h2>R$ <%= humanized_money property.value %></h2>
        </div>
      </div>

      <div class="d-none d-md-block">
        <div class="row no-gutters">

          <div class="col-6">
            <%= render "partials/general_property_information", {property: property, summed_up: true} %>
          </div>

          <div class="col-6">
            <%= render "partials/specific_property_information", {property: property, summed_up: true} %>
          </div>

        </div>
      </div>

      <div class="row pb-3 pt-2">
        <div class="col">
          <h3>
            <%= link_to("Ver mais detalhes", property) %>
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>
