<% case property.type %>
<% when "Apartment" %>
  <ul class="list-unstyled">
    <li>
      <%= I18n.t "views.number_of_rooms.#{property.number_of_rooms}" %>
    </li>
    <li>
      <%= property.number_of_boxes %> Box de Estacionamento <br>
    </li>
    <li>
      <%= square_meters property.private_area %> área privada <br>
    </li>
  </ul>
<% when "House" %>
  <ul class="list-unstyled">
    <li>
      <%= I18n.t "views.number_of_rooms.#{property.number_of_rooms}" %>
    </li>
    <li>
      <%= property.number_of_boxes %> Box de Estacionamento <br>
    </li>
    <li>
      <%= square_meters property.private_area %> área privada <br>
    </li>
  </ul>
<% end %>
