<%= render "partials/form_title", {property: @property} %>

<div class="row no-gutters" id="property_form">

  <div class="col-md-4 pr-md-2 pb-2">
    <%= render "partials/gallery_image_uploader" %>
    <%= render "partials/property_extras" %>
  </div>

  <div class="col-md-8 card p-3">
    <%= form_for @property do |f| %>
    
      <h2>Informações gerais</h2>
      <div class="form-row mb-2">
        <%= render "partials/property_fields", f: f %>
      </div>

      <h2>Atributos do imóvel</h2>
      <div class="form-row">
        <div class="form-group col-sm-6 col-md-3">
          <label>Perfil</label>
          <%= f.select :profile, options_for_select(House.attributes_for_select "profiles"),
          {}, {class: "form-control #{validate_field(@property, :profile)}"} %>
          <%= error_message_for_field(@property, :profile) %>
        </div>

        <div class="form-group col-sm-6 col-md-3">
          <label>Nº de Quartos</label>
          <%= f.number_field :number_of_rooms, min: 0,
          class: "form-control #{validate_field(@property, :number_of_rooms)}" %>
            <%= error_message_for_field(@property, :number_of_rooms) %>
        </div>

        <div class="form-group col-sm-6 col-md-3">
          <label>
            Área Privada <small>(m²)</small>
          </label>
          <%= f.text_field :private_area, value: number_with_precision(f.object.private_area, precision: 2),
          class: "double form-control #{validate_field(@property, :private_area)}" %>
          <%= error_message_for_field(@property, :private_area) %>
        </div>

        <div class="form-group col-sm-6 col-md-3">
          <label>Posição</label>
          <%= f.select :position, options_for_select(House.attributes_for_select "positions"),
          {}, {class: "form-control #{validate_field(@property, :position)}"} %>
          <%= error_message_for_field(@property, :position) %>
        </div>
      </div>

      <div class="form-group col-12 text-right mb-0">
        <% if @property.persisted? %>
          <%= f.submit "Atualizar", class: "btn btn-primary",
          ":disabled": "loading" %>
        <% else %>
          <%= f.submit "Criar", class: "btn btn-success",
          ":disabled": "loading" %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
