<div class="row justify-content-center">

  <!-- <div class="col-md-10 col-12">
    <div class="row mb-2">
      <div class="col-12">
        <button class="btn btn-sm btn-primary" id="filters-toggle">Mostrar filtros</button>
      </div>
    </div>
    <%= render "partials/filters" %>
  </div> -->

  <div class="col-md-10 col-12 mb-2">
    <div class="card p-2">
      <div class="row">
        <div class="col-6">
          <h2 class="mb-0">
            <%= @breadcrumbs %>
          </h2>
        </div>
        <div class="col-6 text-right">
          <h2 class="mb-0">
            <%= pluralize @properties.total_count, "imóvel encontrado", "imóveis encontrados" %>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <% if @properties.length > 0 %>
    <% @properties.each do |property| %>

      <div class="col-md-10 col-12 mb-2">
        <div class="card property-summary">
          <div class="row no-gutters">
            <%= link_to property, class: "col-5" do %>
              <% if property.gallery.images.length > 0 %>
                <div class="property-image " style="background-image:url(<%= property.gallery.images.first.large %>)"></div>
              <% else %>
                <div class="property-image" style="background-image:url('assets/no-image.jpg')"></div>
              <% end %>
            <% end %>

            <div class="col-7 pt-3 pr-3 pl-3">
              <div class="row mb-4">
                <div class="col-md-6">
                  <h2><%= property.title %></h2>
                </div>
                <div class="col-md-6 text-right">
                  <h2>R$ <%= humanized_money property.value %></h2>
                </div>
              </div>

              <div class="d-none d-md-block">
                <div class="row no-gutters">

                  <div class="col-6">
                    <%= render "partials/general_property_information", property: property %>
                  </div>

                  <div class="col-6">
                    <%= render "partials/specific_property_information", property: property %>
                  </div>

                </div>
              </div>

              <div class="row pb-3 pt-2">
                <div class="col-auto">
                  <h3>
                    <%= link_to("Excluir") %>
                  </h3>
                </div>
                <div class="col-auto">
                  <h3>
                    <%= link_to("Editar", [:edit, property]) %>
                  </h3>
                </div>
                <div class="col text-right">
                  <h3>
                    <%= link_to("Ver mais detalhes", property) %>
                  </h3>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<div class="row justify-content-center">
  <div class="col-auto">
    <%= paginate @properties %>
  </div>
</div>
