<div class="row justify-content-center">
  <div class="col-md-10 col">

    <div class="row no-gutters">
      <% if flash[:notice] %>
        <div class="col-12">
          <%= render "partials/alert_success", msg: flash[:notice] %>
        </div>
      <% end %>

      <div class="col-12 card mb-2">
        <div class="row no-gutters p-2">
          <div class="col-8">
            <h1 class="mb-0">
              <%= @property.title %>
              <%= link_to [:edit, @property] do %>
                <i class="fa fa-pencil" title="Editar"></i>
              <% end %>
            </h1>
          </div>
          <div class="col-4 align-self-center text-right">
            <%= link_to("Voltar", prev_page) %>
          </div>
        </div>
      </div>

      <div class="col-md-7 mb-2 pr-sm-2">
        <div class="col-12 card p-3 mr-2" id="property-gallery">
          <h2>Galeria</h2>
          <% if @property.gallery.images.length > 0 %>
            <%= link_to @property.gallery.images.first.url, class: "gallery-image" do %>
              <div style="background-image:url(<%= @property.gallery.images.first.url %>)"></div>
            <% end %>

            <ul class="list-inline list-unstyled mt-2 text-center">
              <% @property.gallery.images.each_with_index do |image, index|  %>
                <% unless index == 0 %>
                  <li href="<%= image.url %>" class="gallery-image list-inline-item">
                    <div style="background-image:url(<%= image.url %>)"></div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            Nenhuma imagem para ser exibida.
          <% end %>
        </div>

        <% if @property.extra_list.list.length > 0 %>
          <div class="col-12 card pt-2 mr-2 mt-2">
            <h2>Características adicionais</h2>
          </div>
          <div class="row pr-3 pl-3 mt-1">
            <% @property.extra_list.list.each do |extra| %>
              <div class="col-auto p-2 card mr-1 mb-1">
                <span class="text-success">
                  <i class="fa fa-check-circle"></i>
                  <%= extra %>
                </span>
              </div>
            <% end %>
          </div>
        <% end  %>

      </div>

      <div class="col-md-5">
        <div class="card p-3 mb-2">
          <h2>Informações gerais</h2>
          <dl class="row no-gutters">
            <dt class="col-sm-6 text-secondary">Perfil</dt>
            <dd class="col-sm-6"><%= I18n.t "views.#{@property.profile}" %></dd>
            <dt class="col-sm-6 text-secondary">Endereço</dt>
            <dd class="col-sm-6"><%= @property.address %></dd>
            <dt class="col-sm-6 text-secondary">Bairro</dt>
            <dd class="col-sm-6"><%= @property.district %></dd>
            <dt class="col-sm-6 text-secondary">Cidade</dt>
            <dd class="col-sm-6">Passo Fundo</dd>
            <% if @property.nearby %>
              <dt class="col-sm-6 text-secondary">Próximo</dt>
              <dd class="col-sm-6"><%= @property.nearby %></dd>
            <% end %>
            <dt class="col-sm-6 text-secondary">Valor</dt>
            <dd class="col-sm-6">R$ <%= humanized_money @property.value %></dd>
            <dt class="col-sm-6 text-secondary">Área Global</dt>
            <dd class="col-sm-6"><%= square_meters @property.global_area %></dd>
          </dl>

          <h2>Características <%= I18n.t "views.#{@property.type}.ofthe" %></h2>
          <%= render "partials/specific_property_information", property: @property %>
        </div>

        <div class="col-12 card p-3">
          <h2>Perguntar sobre o imóvel</h2>
          <div class="form-group">
            <label>seu e-mail</label>
            <input type="email" class="form-control">
          </div>

          <div class="form-group">
            <label>sua mensagem</label>
            <textarea name="name" rows="8" class="form-control"></textarea>
          </div>

          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
