<div class="row justify-content-center">
  <div class="col-md-10 col">

    <div class="row no-gutters">

      <div class="col-12 card mb-2">
        <div class="row no-gutters p-2">
          <div class="col-8">
            <h1 class="mb-0">Edifício de exemplo</h1>
          </div>
          <div class="col-4 align-self-center text-right">
            <%= link_to("Voltar", root_path) %>
          </div>
        </div>
      </div>

      <div class="col-md-8 mb-2 pr-sm-2">
        <div class="col-12 card p-3 mr-2" id="property-gallery">
          <h2>Galeria</h2>
          <%= link_to @property.images.first.url, class: "2pac" do %>
            <%= image_tag @property.images.first.url %>
          <% end %>

          <ul class="list-inline list-unstyled mt-2 text-center">
            <% @property.images.each do |image|  %>
              <li href="<%= image.url %>" class="2pac list-inline-item">
                <%= image_tag image.url %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-3 mb-2">
          <h2>Características</h2>
          <ul class="list-unstyled">
            <li>
              <span class="text-secondary">Perfil</span> <div class="float-right">Usado</div>
            </li>
            <li>
              <span class="text-secondary">Endereço</span> <div class="float-right">Rua Capitão Eleutério, 341</div>
            </li>
            <li>
              <span class="text-secondary">Bairro</span> <div class="float-right">Centro</div>
            </li>
            <li>
              <span class="text-secondary">Próximo</span> <div class="float-right">Maré Alta, Schell Morom</div>
            </li>
            <li>
              <span class="text-secondary">Cidade</span> <div class="float-right">Passo Fundo</div>
            </li>
            <li>
              <span class="text-secondary">Posição</span> <div class="float-right">Frente</div>
            </li>
            <li>
              <span class="text-secondary">Valor</span> <div class="float-right">R$ 255.000,00</div>
            </li>
            <li>
              <span class="text-secondary">Condomínio</span> <div class="float-right">R$ 250,00</div>
            </li>
          </ul>

          Área :
          Global (76.39 m²)  |  Privativa (52.37 m²)
          Box 1:
          Global (14.07 m²)   |   Privativa (11.10m²)
          Total:
          Global (90.46 m² )   |   Privativa (63.47 m²)
        </div>

        <div class="col-12 card p-3">
          <h2>Perguntar sobre o imóvel</h2>
          <div class="form-group">
            <label>seu e-mail</label>
            <input type="email" class="form-control">
          </div>

          <div class="form-group">
            <label>sua mensagem</label>
            <textarea name="name" rows="8" class="form-control"></textarea>
          </div>

          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
