<div class="row justify-content-center">
  <div class="col-md-10 col">

    <div class="row no-gutters">

      <div class="col-12 card mb-2">
        <div class="row no-gutters p-2">
          <div class="col-8">
            <h1 class="mb-0">
              <%= @property.title %>
              <%= link_to [:edit, @property] do %>
                <i class="fa fa-pencil" title="Editar"></i>
              <% end %>
            </h1>
          </div>
          <div class="col-4 align-self-center text-right">
            <%= link_to("Voltar", root_path) %>
          </div>
        </div>
      </div>

      <div class="col-md-7 mb-2 pr-sm-2">
        <div class="col-12 card p-3 mr-2" id="property-gallery">
          <h2>Galeria</h2>
          <% if @property.gallery.images.length > 0 %>
            <%= link_to @property.gallery.images.first.url, class: "2pac" do %>
              <%= image_tag @property.gallery.images.first.url %>
            <% end %>

            <ul class="list-inline list-unstyled mt-2 text-center">
              <% @property.gallery.images.each do |image|  %>
                <li href="<%= image.url %>" class="2pac list-inline-item">
                  <div style="background-image:url(<%= image.url %>)"/>
                </li>
              <% end %>
            </ul>
          <% else %>
            Nenhuma imagem para ser exibida.
          <% end %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card p-3 mb-2">
          <h2>Características</h2>
          <dl class="row no-gutters">
            <dt class="col-sm-4 text-secondary">Perfil</dt>
            <dd class="col-sm-8"><%= I18n.t @property.profile %></dd>
            <dt class="col-sm-4 text-secondary">Endereço</dt>
            <dd class="col-sm-8"><%= @property.address %></dd>
            <dt class="col-sm-4 text-secondary">Bairro</dt>
            <dd class="col-sm-8"><%= @property.district %></dd>
            <dt class="col-sm-4 text-secondary">Cidade</dt>
            <dd class="col-sm-8">Passo Fundo</dd>
            <% if @property.nearby %>
              <dt class="col-sm-4 text-secondary">Próximo</dt>
              <dd class="col-sm-8"><%= @property.nearby %></dd>
            <% end %>
            <dt class="col-sm-4 text-secondary">Posição</dt>
            <dd class="col-sm-8"><%= I18n.t @property.position %></dd>
            <dt class="col-sm-4 text-secondary">Valor</dt>
            <dd class="col-sm-8">R$ <%= humanized_money @property.value %></dd>
            <dt class="col-sm-4 text-secondary">Área Global</dt>
            <dd class="col-sm-8"><%= number_with_precision(@property.global_area, precision: 2) %> m²</dd>
            <dt class="col-sm-4 text-secondary">Área Privada</dt>
            <dd class="col-sm-8"><%= number_with_precision(@property.private_area, precision: 2) %> m²</dd>
          </dl>
        </div>

        <div class="col-12 card p-3">
          <h2>Perguntar sobre o imóvel</h2>
          <div class="form-group">
            <label>seu e-mail</label>
            <input type="email" class="form-control">
          </div>

          <div class="form-group">
            <label>sua mensagem</label>
            <textarea name="name" rows="8" class="form-control"></textarea>
          </div>

          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
