<%= render "partials/social_header" %>

<div class="row justify-content-center">
  <div class="col-lg-10">

    <div class="row no-gutters">
      <%= render "partials/alert" %>

      <% if flash[:alert] %>
        <div class="col-12">
          <%= render "partials/alert_danger", msg: flash[:alert] %>
        </div>
      <% end %>

      <div class="col-12 card mb-2">
        <div class="row no-gutters p-2">
          <div class="col-8">
            <h1 class="mb-0">
              <%= @property.title %>
              <% if admin_signed_in? %>
                <%= link_to [:edit, @property] do %>
                  <i class="fa fa-pencil" title="Editar"></i>
                <% end %>
              <% end %>
            </h1>
          </div>
          <div class="col-4 align-self-center text-right">
            <%= link_to("Voltar", prev_page) %>
          </div>
        </div>
      </div>

      <div class="col-md-7 mb-2 pr-sm-2">
        <div class="col-12 card p-2 mr-2" id="property-gallery">
          <h2>Imagens</h2>
          <% if has_gallery? @property %>
            <%= link_to @property.gallery.images.first.large.url, class: "gallery-image" do %>
              <%= image_tag @property.gallery.images.first.large.url, class: "img-fluid" %>
            <% end %>

            <ul class="list-inline list-unstyled mt-2 text-center">
              <% @property.gallery.images.each_with_index do |image, index|  %>
                <% unless index == 0 %>
                  <a href="<%= image.large.url %>" class="gallery-image gallery-thumbnail list-inline-item">
                    <%= image_tag image.small.url, class: "img-thumbnail" %>
                  </a>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            Nenhuma imagem para ser exibida.
          <% end %>
        </div>

        <div class="d-none d-md-block">
          <%= render "partials/map", property: @property %>
          <%= render "partials/display_extras", property: @property %>
        </div>

      </div>

      <div class="col-md-5">
        <div class="card p-3 mb-2">
          <h2>Informações gerais</h2>
          <%= render "partials/general_property_information", property: @property %>

          <h2>Características <%= I18n.t "views.#{@property.type}.ofthe" %></h2>
          <%= render "partials/specific_property_information", property: @property %>
        </div>

        <div class="d-block d-md-none">
          <%= render "partials/map", property: @property %>
          <%= render "partials/display_extras", property: @property %>
        </div>

        <div class="card p-3 mb-2">
          <%= form_for Question.new do |f| %>
            <h2>Perguntar sobre o imóvel</h2>
            <div class="form-group">
              <label>seu e-mail</label>
              <%= f.text_field :email, class: "form-control",
              type: "email", required: true %>
            </div>

            <div class="form-group">
              <label>sua mensagem</label>
              <%= f.text_area :message, class: "form-control", rows: "4", required: true %>
            </div>

            <%= f.hidden_field :property_id, value: @property.id %>

            <div class="form-group text-right mb-0">
              <%= f.submit "Enviar", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>

        <ul class="list-unstyled list-inline mb-0 text-right">
          <li class="list-inline-item">
            <button class="btn btn-facebook btn-sm" onclick="facebookShare()">
              <i class="fa fa-facebook-official"></i>
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-twitter btn-sm" onclick="twitterShare()">
              <i class="fa fa-twitter-square"></i>
            </button>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
