<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="card mb-2">
      <div class="card-header">
        <h2>Imóveis de Clientes para avaliação</h2>
      </div>
    </div>

    <% if @customer_properties.length > 0 %>
      <% @customer_properties.each do |customer_property| %>
        <div class="card mb-3">
          <div class="card-header">
            Cliente: <strong><%= customer_property.name %></strong>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col-lg-6">
                <dl class="row">
                  <dt class="col-md-3 text-secondary">Telefone</dt>
                  <dd class="col-md-9"><%= customer_property.phone %></dd>
                  <dt class="col-md-3 text-secondary">Email</dt>
                  <dd class="col-md-9"><%= customer_property.email %></dd>
                </dl>
              </div>
              <div class="col-lg-6">
                <dl class="row no-gutters">
                  <dt class="col-md-3 text-secondary">Imóvel</dt>
                  <dd class="col-md-9">
                    <%= I18n.t "activerecord.attributes.customer_property.kinds.#{customer_property.kind}" %>
                    para <%= I18n.t "views.#{customer_property.deal}" %>
                  </dd>
                  <dt class="col-md-3 text-secondary">Endereço</dt>
                  <dd class="col-md-9"><%= customer_property.address %></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">Nenhum imóvel para avaliação</p>
    <% end %>

  </div>
</div>

<div class="row justify-content-center">
  <div class="col-auto">
    <%= paginate @customer_properties %>
  </div>
</div>
