<%= form_for @customer_property do |f| %>

  <div class="row justify-content-center">
    <div class="col-lg-10 col-12">
      <div class="row no-gutters">

        <div class="col-12 card mb-2 p-3">
          <h2 class="font-weight-bold mb-0">
            Avaliamos seu imóvel <br>
            <small class="text-secondary">
              Preencha o formulário para entrarmos em contato e iniciarmos a avalição.
            </small>
          </h2>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h2>
                Informações de contato
              </h2>
            </div>
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col-12">
                  <label>Nome Completo</label>
                  <%= f.text_field :name, class: "form-control #{validate_field(@customer_property, :name)}" %>
                  <%= error_message_for_field(@customer_property, :name) %>
                </div>

                <div class="form-group col-12">
                  <label>E-mail</label>
                  <%= f.text_field :email, class: "form-control #{validate_field(@customer_property, :email)}" %>
                  <%= error_message_for_field(@customer_property, :email) %>
                </div>

                <div class="form-group col-12">
                  <label>Telefone</label>
                  <%= f.text_field :phone, class: "form-control #{validate_field(@customer_property, :phone)}" %>
                  <%= error_message_for_field(@customer_property, :phone) %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h2>
                Informações do imóvel
              </h2>
            </div>
            <div class="card-body pb-1">
              <div class="form-row mb-3">
                <div class="form-group col-12">
                  <label>Tipo do imóvel</label>
                  <%= f.select :kind, options_for_select(CustomerProperty.attributes_for_select "kinds"),
                  {}, {class: "form-control #{validate_field(@customer_property, :kind)}"} %>
                  <%= error_message_for_field(@customer_property, :kind) %>
                </div>
                <div class="form-group col-12">
                  <label>Negócio</label>
                  <%= f.select :deal, options_for_select(CustomerProperty.attributes_for_select "deals"),
                  {}, {class: "form-control #{validate_field(@customer_property, :deal)}"} %>
                  <%= error_message_for_field(@customer_property, :deal) %>
                </div>
                <div class="form-group col-12">
                  <label>Endereço</label>
                  <%= f.text_field :address, class: "form-control #{validate_field(@customer_property, :address)}" %>
                  <%= error_message_for_field(@customer_property, :address) %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card p-2 pr-3 pl-3">
            <div class="row">
              <div class="col-4 align-self-center">
                <%= link_to "Cancelar", root_path %>
              </div>
              <div class="col-8 text-right">
                <%= f.submit "Requisitar avaliação", class: "btn btn-success" %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
