<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= render "partials/title_header" %>
    <%= render "partials/favicon" %>
    <%= content_for?(:head) ? yield(:head) : '' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "partials/lightgallery" %>
  </head>

  <body>
    <%= render "partials/navbar" %>

    <div class="container" id="main-container">
      <%= yield %>
    </div>

    <%= render "partials/footer" %>

  </body>
  <% if Rails.env.production? %>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : <%= ENV['FACEBOOK_KEY'] %>,
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110792555-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110792555-1');
    </script>
  <% end %>
</html>
