<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "partials/lightgallery" %>

    <title>Bruno Corretor de Imóveis</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="robots" content="index,follow" />

    <head itemscope itemtype="http://schema.org/WebSite">
    <link rel="canonical" href="" itemprop="url">

    <meta name="google" content="notranslate" />
    <meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui'/>
  </head>

  <body>
    <div class="header bg-dark p-2">
      <div class="row justify-content-center m-auto">
        <div class="col-md-auto">
          CRECI: 49582/RS
        </div>
        <div class="col-md-auto">
          <i class="fa fa-map-marker"></i> Endereço rua tal tal tal, 999 - Passo Fundo
        </div>
      </div>
    </div>

    <%= render "partials/navbar" %>

    <div class="container" id="main-container">
      <%= yield %>
    </div>

    <%= render "partials/footer" %>

  </body>
</html>
