<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "partials/lightgallery" %>

    <title>Bruno Corretor de Imóveis</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="robots" content="index,follow" />

    <head itemscope itemtype="http://schema.org/WebSite">
    <link rel="canonical" href="" itemprop="url">

    <meta name="google" content="notranslate" />
    <meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui'/>
  </head>

  <body>
    <div class="header bg-dark p-2">

      <div class="row justify-content-center m-auto">
        <div class="col-md-auto">
          CRECI: 99999/RS
        </div>
        <div class="col-md-auto">
          <i class="fa fa-map-marker"></i> Endereço rua tal tal tal, 999 - Passo Fundo
        </div>
      </div>

    </div>

    <nav class="navbar navbar-expand-md navbar-light bg-white">
      <%= link_to "Logotipo", root_path, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              Vendas
            </a>
            <%= render "partials/dropdown" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href>
              Empreendimentos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href>
              Avaliamos seu imóvel
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus"></i> Imóvel
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "Apartamento", new_apartment_path, class: "dropdown-item" %>
                <%= link_to "Casa", new_house_path, class: "dropdown-item" %>
                <%= link_to "Terreno", new_terrain_path, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" id="main-container">
      <%= yield %>
    </div>

    <%= render "partials/footer" %>

  </body>
</html>
