<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "partials/lightgallery" %>

    <title>Bruno Corretor de Imóveis</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="robots" content="index,follow" />

    <head itemscope itemtype="http://schema.org/WebSite">
    <link rel="canonical" href="" itemprop="url">

    <meta name="google" content="notranslate" />
    <meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui'/>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= link_to "Logotipo", root_path, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              Vendas
            </a>
            <%= render "partials/dropdown" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              Locações
            </a>
            <%= render "partials/dropdown" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href>
              Contato
            </a>
            <%= render "partials/dropdown" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus"></i> Imóvel
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "Apartamento", new_property_path, class: "dropdown-item" %>
                <%= link_to "Casa", new_property_path, class: "dropdown-item" %>
                <%= link_to "Comercial", new_property_path, class: "dropdown-item" %>
                <%= link_to "Terreno", new_property_path, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer bg-info mt-5">
      <div class="container text-center">
        <small>Corretor de imóveis ® Todos os direitos reservados - 2017</small>
      </div>
    </footer>

  </body>
</html>
