<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= render "partials/title_header" %>
    <%= render "partials/favicon" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "partials/navbar" %>

    <div class="container" id="main-container">
      <%= yield %>
    </div>

    <%= render "partials/footer" %>

  </body>
</html>
